body {
    padding: 1rem;
    margin: 0 auto;
    color: #515151;
    max-width: 54em;
    line-height: 1.5;
    overflow-y: scroll;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.drawer { margin: 1em 0; padding: 0.25em 0.5em; border: 1px solid #313131; background: #fafafa; }
pre { padding: 1em; }
ul, ol { margin: 0; }
#knarkzel { margin: 0; }
a:hover { text-decoration: underline; }
p { margin-top: 0; margin-bottom: 8px; }
a { color: #268bd2; text-decoration: none; }
code, pre, p, a, li, tr, th { font-size: 1.25rem; }
#header { margin-bottom: 1rem; text-align: center; }
tr, td { padding: 0.5rem 0.75rem; border: 1px solid #e5e5e5 }
tbody tr:first-child { text-align: center; font-weight: bold; }
code, pre { font-size: 85%; overflow: auto; background: #F9F9F9; }
code { color: #bf616a; padding: 2px 4px; vertical-align: text-bottom; }
h1, h2, h3, h4, h5, h6 { color: #313131; margin-top: 16px; margin-bottom: 8px; }
tbody tr:nth-child(even) td,tbody tr:nth-child(even) th { background: #f9f9f9; }
#nav > a { padding-right: 0.5rem; font-size: 1.5rem; text-decoration: underline; }
table { margin-bottom: 1rem; width: 100%; border: 1px solid #e5e5e5; border-collapse: collapse; }
